@model IEnumerable<EFLibrary.Models.Model_Cart>

<script type="text/javascript">
    
</script>    

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.CartTitle</h3>
    <div class="idea" id="result">@ViewBag.StatusMessage</div>
    
    <input type="hidden" id="customer_id" value="@ViewBag.Customer_id" />
    <input type="hidden" id="token" value="@ViewBag.Token" />

    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div align="center">                
                <table>
                    <tr>
                        <td width="105"><img id="preload" src="~/Content/images/loading.gif" width="50" style="display:none;" /></td>
                        <td><button onclick="location.href='@Url.Action("Download", "Order")'" >Generate Invoice</button></td>
                    </tr>
                </table>
            </div>
            <br />
            <table align="center">
                <thead>
                    <tr>
                        <th>@ViewBag.Name</th>
                        <th>@ViewBag.Type</th>
                        <th>@ViewBag.Days</th>
                        <th>@ViewBag.Price</th>
                        <th>@ViewBag.LoyaltyPoints</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onmouseover="bgColor='#ffffcc'" onmouseout="bgColor='#FFFFFF'">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                                @Html.DisplayFor(modelItem => item.Price_cur)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Loyaltypoint)
                            </td>
                            

                        </tr>
                    }
                    <tr><td colspan="2"></td><td class='price'>@ViewBag.TotalLabel</td><td class='price'>@ViewBag.Total</td></tr>
                </tbody>
            </table>
            <br />
        }
        else
        {
            <div class="text-center">@ViewBag.NotFound</div>
            <br /><div align="center"><a href="/Home/Index/" onclick=""><img src="~/Content/images/go-back-png-4.png" border="0" width="75" title="@ViewBag.Back" /></a></div>
        }
    }
    else
    {
        <div class="text-center">@ViewBag.NotFound</div>
        <br /><div align="center"><a href="/Home/Index/" onclick=""><img src="~/Content/images/go-back-png-4.png" border="0" width="75" title="@ViewBag.Back" /></a></div>
    }
</div>
